body {
    margin: 0;
    background: #111;
    color: #eee;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    color: #ff7b00;
    margin: 0;
}

.subtitle {
    margin-top: -10px;
    color: #ddd;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff7b00;
}

.hero {
    text-align: center;
    padding: 30px;
}

.hero img {
    width: 300px;
    border-radius: 15px;
}

.blogs-preview {
    padding: 40px;
    text-align: center;
}

.blog-card {
    background: #222;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
}

.blog-card img {
    width: 100%;
    border-radius: 10px;
}

.blog-card a {
    display: inline-block;
    margin-top: 10px;
    color: #ff7b00;
    text-decoration: none;
    font-weight: bold;
}

.blog-card a:hover {
    color: #ffa94d;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: #777;
    margin-top: 40px;
}
