body {
cursor: pointer;
font-weight: bold;
}


/* Feed */
.feed {
padding: 1rem;
}
.post-box {
background: #fff;
padding: 1rem;
border-radius: 10px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
margin-bottom: 1rem;
}
.post-box textarea {
width: 100%;
height: 60px;
padding: 10px;
border-radius: 10px;
border: 1px solid #ccc;
resize: none;
}
.post-box button {
background: #1877f2;
color: white;
border: none;
padding: 0.5rem 1rem;
margin-top: 10px;
border-radius: 8px;
cursor: pointer;
font-weight: bold;
}


/* Posts */
.post {
background: white;
padding: 1rem;
border-radius: 10px;
margin-bottom: 1rem;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.post-title {
font-weight: bold;
margin-bottom: 0.5rem;
cursor: pointer;
}


/* Sidebar Right */
.sidebar-right {
background: #fff;
padding: 1rem;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
height: fit-content;
}